on:
  pull_request:
    branches:
      - main

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check component dependencies
        uses: ./.github/actions/setup-composite
        id: components-check
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
